@import '../styles/variables.scss';
$height: 250px;

.nav-bar {
	height: 64px;
  background-color: #464b50;
  position: relative;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.24);
  z-index: 10;
}

.nav-title {
	padding: 5px 5px 20px;
	color: #eceded;
	font-size: 2em;
}

.nav-link {
	padding: 5px;
	color: white;
  cursor: pointer;
}

.full-body{
  margin: 0px;
  width: 100%;
  position: relative;
}

.main-page {
  margin-top: 100px;
  // position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.wrapper {
	// margin-bottom: 100px;
	flex: 1 0 auto;
	height: 100%;
}

/*-------------
 	Footer
-------------*/

.footer {
	flex-shrink: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;
}

footer ul li:first-child{
	margin-left: 0;
}

footer ul li:last-child{
	margin-right: 0;
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}


/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}

