<div class="nav-bar">
  <header>
    <div>

      <!-- Title -->
      <span class="nav-title">Sandbox</span>

      <!-- Navbar -->
      <nav>
        <a class="nav-link" [routerLink]="['']">Home</a>
        <a class="nav-link" [routerLink]="['/resume']">Resume</a>
      </nav>

    </div>
  </header>
</div>

<!-- Router Outlet -->
<router-outlet class="wrapper"></router-outlet>

<footer class="footer">
  <ul>
    <li><a href="mailto:dzutpham@gmail.com"><i class="fa fa-envelope"></i></a></li>
    <li><a href="https://www.linkedin.com/in/dzu-pham-54b05457/"><i class="fa fa-linkedin-square"></i></a></li>
    <li><a href="https://github.com/DPham17"><i class="fa fa-github-square"></i></a></li>
    <li><a href="https://www.facebook.com/dzu.t.pham"><i class="fa fa-facebook-square"></i></a></li>
  </ul>
</footer>