@import "assets/font-awesome.min.css";
$font-color: #4A4A4A;

/*-------------
 	General
-------------*/

h2, h4 {
  font-weight: normal;
}

* {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

html, body {
  color: $font-color;
  letter-spacing: 1px;
	font-size: 16px;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
  margin-bottom: 80px;
  margin: auto;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

